body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/* Titulos */
h1 {
    font-family: Georgia, 'Times New Roman', serif;
}

h1.titulo {
    font-family: 'arial narrow', serif;
}

h2 {
    font-family: 'Courier New', monospace;
}

h3.color {
    color:green;
}

h3.color1 {
    color: orange;
}

h3.titulos {
    color: #37B8DB;
}

/* Parrafos */
p {
    color: gray;
}

p.otroslinks.links {
    color: red;
}
p.texto {
    color: darkblue;
}

/* Listados */
ol.texto{
    color: darkblue;
}
li {
    font-size: 14px;
    font-family: Arial, Helvetica;
}

li.color2 {
    color:red;
}


li.impar {
    color: #892C91;
}

li.par {
    color: rgb(54, 117, 29);
}

/* Anclas */
a.anna {
    color:red;
}

/* Clases Genéricas */
.links {
    color: blue;
}

/* Cabecera */
.logo {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}
.logo-image {
    display: inline-block;
}
.logo-title {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-top: 20px;
    margin-left: 5px;
}

/* Navegación */
/*.navegacion {
    display: inline-block;
}
.navegacion-nivel1 {
    list-style-type: none;
}
.navegacion-nivel1 li {
    display: inline-block;
    padding: 10px;
}

.navegacion-nivel2 {
    display: none;
}
*/


/*este es mi diseño :) ANNA git */

nav.anna{
    background: #E4F3EC;
    position: relative;
}

nav.anna ul.navegacion-nivel1 {    
    display: inline-block;
    margin: 30px;
}

nav.anna ul.navegacion-nivel1 > li {
    display:inline-block;
}

nav.anna ul.navegacion-nivel1 > li > a { 
    padding: 30px;
    font-size: 20px;
}

nav.anna ul.navegacion-nivel2 {
    display: block;
    position: absolute;
    background: #CAF1DE;
    bottom: -30px;
}

/*este es mi diseño :) ANNA2 html semántico */

/*nav.anna2{
    background: #E9EAF1;
}

nav.anna2 ul.navegacion-nivel1 {    
    margin: 10px 0px;
    display: block;
}

nav.anna2 ul.navegacion-nivel1 > li {
    display: block;
}

nav.anna2 ul.navegacion-nivel1 > li > a { 
    padding: 10px;
    font-size: 15px;
    display: block;
}

nav.anna2 ul.navegacion-nivel2 {
    display: none;
}*/

/*estilos modelo de caja*/

h1.tittle1 {
    font-size: 30px;
    font-family: 'Courier New', monospace;
    color:red;
}

h3.model1 {
    font-size: 20px;
    font-family: 'Courier New', monospace;
    color:#E89B9B;
}

h5.model2{
    font-size: 20px;
    font-family: 'Courier New', monospace;
    color:#E89B9B;
}

p.parrafo {
    font-size: 14px;
    font-family: Arial, Helvetica;
    color:brown;
}

ul.listas {
    font-size: 14px;
    font-family: Arial, Helvetica;
    color:brown;
}
li.colorlist {
    font-size: 14px;
    font-family: 'Courier New', monospace;
}

/*El Contenedor*/
div.contenedor{
    position: relative;
    background-color: #CCC;
    width: 200px;
    height: 200px;
    display: block;
}

/* La Cajita */
div.caja {
    position: absolute;
    top: 30px;
    left: 30px;
    background: red;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: block;
}

div.caja2 {
    position: absolute;
    top: 40px;
    left: 40px;
    background: green;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: block;
}

div.caja3 {
    position: absolute;
    top: 50px;
    left: 50px;
    background: purple;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: block;
}

main { 
    padding-top: 30px;
}
