body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/* Titulos */
h1 {
    font-family: Georgia, 'Times New Roman', serif;
}

h1.titulo {
    font-family: 'arial narrow', serif;
}

h2 {
    font-family: 'Courier New', monospace;
}

h3.color {
    color:green;
}

h3.color1 {
    color: orange;
}

h3.naty {
    color: #37B8DB;
}

/* Parrafos */
p {
    color: gray;
}

p.otroslinks.links {
    color: red;
}

/* Listados */
li {
    font-size: 14px;
    font-family: Arial, Helvetica;
}

li.color2 {
    color:red;
}

li.impar {
    color: #892C91;
}

li.par {
    color: rgb(54, 117, 29);
}

/* Anclas */
a.anna {
    color:red;
}

/* Clases Genéricas */
.links {
    color: blue;
}

/* Cabecera */
.logo {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}
.logo-image {
    display: inline-block;
}
.logo-title {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-top: 20px;
    margin-left: 5px;
}

/* Navegación */
/*.navegacion {
    display: inline-block;
}
.navegacion-nivel1 {
    list-style-type: none;
}
.navegacion-nivel1 li {
    display: inline-block;
    padding: 10px;
}

.navegacion-nivel2 {
    display: none;
}
*/
