body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1 {
  font-family: Georgia, 'Times New Roman', serif;
}

h2 {
  font-family: 'Courier New', monospace;
}

h3.naty{color: #37B8DB;

}
p {
  color: gray;
}

.links {
  color: blue;
}

p.otroslinks.links {
  color: red;
}




li {
  font-size: 14px;
}

li {font-family: Arial; Helvetica;
}


li.impar {
  color: #892C91;
}

li.par {
  color: rgb(54, 117, 29);
}

h3.color {color:green;}
a.anna {color:red;}

